# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
env/
venv/
.venv/

# macOS system files
.DS_Store

# VSCode settings
.vscode/

# Arcade temp/cache files
*.sqlite
